BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED" SITE "C17" ;
IOBUF PORT "mixed_output[0]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[1]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[2]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[3]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[4]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[5]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[6]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[7]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[8]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[9]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[10]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[11]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[12]" IO_TYPE=LVDS ;
IOBUF PORT "serial_clk" IO_TYPE=LVDS ;
IOBUF PORT "serial_iq" IO_TYPE=LVDS ;
LOCATE COMP "clk" SITE "F1" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS25 ;
LOCATE COMP "rst" SITE "G1" ;
IOBUF PORT "rst" IO_TYPE=LVCMOS25 ;
LOCATE COMP "serial_iq" SITE "E4" ;
LOCATE COMP "serial_clk" SITE "A4" ;
