BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED" SITE "A13" ;
IOBUF PORT "mixed_output[0]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[1]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[2]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[3]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[4]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[5]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[6]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[7]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[8]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[9]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[10]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[11]" IO_TYPE=LVDS ;
IOBUF PORT "mixed_output[12]" IO_TYPE=LVDS ;
IOBUF PORT "serial_clk" IO_TYPE=LVDS ;
IOBUF PORT "serial_iq" IO_TYPE=LVDS ;
LOCATE COMP "clk" SITE "F1" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS25 ;
LOCATE COMP "rst" SITE "G1" ;
IOBUF PORT "rst" IO_TYPE=LVCMOS25 ;
LOCATE COMP "serial_iq" SITE "F4" ;
LOCATE COMP "serial_clk" SITE "C4" ;
IOBUF PORT "top_clk" IO_TYPE=LVDS DIFFRESISTOR=100 ;
LOCATE COMP "top_rst_n" SITE "H2" ;
IOBUF PORT "top_rst_n" IO_TYPE=LVCMOS33 ;
LOCATE COMP "LED1" SITE "A12" ;
LOCATE COMP "LED2" SITE "B19" ;
LOCATE COMP "LED3" SITE "A18" ;
LOCATE COMP "LED4" SITE "B18" ;
LOCATE COMP "LED5" SITE "C17" ;
LOCATE COMP "LED6" SITE "A17" ;
LOCATE COMP "LED7" SITE "B17" ;
LOCATE COMP "top_clk" SITE "G3" ;
