BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED" SITE "A13" ;
IOBUF PORT "serial_clk" IO_TYPE=LVDS ;
IOBUF PORT "serial_iq" IO_TYPE=LVDS ;
LOCATE COMP "serial_iq" SITE "F4" ;
LOCATE COMP "serial_clk" SITE "C4" ;
IOBUF PORT "top_clk" IO_TYPE=LVCMOS25 DIFFRESISTOR=OFF ;
LOCATE COMP "LED1" SITE "A12" ;
LOCATE COMP "LED2" SITE "B19" ;
LOCATE COMP "LED3" SITE "A18" ;
LOCATE COMP "LED4" SITE "B18" ;
LOCATE COMP "LED5" SITE "C17" ;
LOCATE COMP "LED6" SITE "A17" ;
LOCATE COMP "LED7" SITE "B17" ;
LOCATE COMP "top_clk" SITE "A10" ;
IOBUF PORT "top_rst" IO_TYPE=LVCMOS33 ;
LOCATE COMP "top_rst" SITE "H2" ;
