BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "pushbutton" SITE "P4" ;
LOCATE COMP "leds[0]" SITE "A13" ;
LOCATE COMP "leds[1]" SITE "A12" ;
LOCATE COMP "leds[2]" SITE "B19" ;
LOCATE COMP "leds[3]" SITE "A18" ;
LOCATE COMP "leds[4]" SITE "B18" ;
LOCATE COMP "leds[5]" SITE "C17" ;
LOCATE COMP "leds[6]" SITE "A17" ;
LOCATE COMP "leds[7]" SITE "B17" ;
